<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests suite">
    <test name="ChromeTest" thread-count="3" parallel="tests">
        <parameter name="browser" value="chrome">
            <classes>
                <class name="HomepageTests">
                </class>
                <class name="OwnersTests"></class>
            </classes>
        </parameter>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox">
            <classes>
                <class name="HomepageTests">
                </class>
                <class name="OwnersTests"></class>
            </classes>
        </parameter>
    </test>
</suite>